@use "mixins" as m;

body {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  #root {
    width: 100vw;
    margin: 0;
    padding: 2%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

    .productContainer {
      width: 45%;
      height: 30%;
      background-color: rgb(207, 207, 207);
      margin: 2%;
      padding: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include m.tablet {
        width: 32%;
        padding: 2%;
        margin: 0;
        margin-bottom: 1%;
      }

      @include m.desktop {
        width: 23vw;
      }
    }

    .productContainer > img {
      @include m.productPic;

      @include m.tablet {
        width: 28vw;
      }

      @include m.desktop {
        width: 21vw;
      }
    }

    p.product__title {
      width: 100%;
      margin: 10%;
    }

    p.product__price {
      font-weight: 600;
      margin: 10%;
    }

    // button,
    span {
      // background-color: rgb(109, 49, 49);
      background-color: rgba(14, 47, 117, 0.926);
      // font-size: 15pt;
      color: white;
      padding: 11%;
      margin: 2%;
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include m.tablet {
        padding: 8%;
      }

      @include m.desktop {
        padding: 4%;
      }
    }
  }
}
