@use "../components/" as c;

.containerlist {
  height: auto;
  width: 100%;
  background-color: rgb(174, 162, 152);
  color: black;
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-items: center;
  li {
    list-style: none;
    font-style: normal;
    padding: 0px;
  }

  @media screen and (min-width: 768px) {
    height: 25vh;
    display: grid;
    flex-direction: row;
    justify-content: space-around;
    grid-template-columns: auto auto auto;
  }
}
