#pay {
  background-color: aliceblue;
}
.container {
  height: 60vh;
}

h2,
p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

// .orderConfimartion {
//   margin-top: 1%;
// }
