.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__paymentoptions-radiobuttons {
    display: flex;
    flex-direction: row;
  }

  &__icons {
    text-align: center;
  }

  &__paymentcard {
    display: flex;
    flex-direction: column;
    width: 175px;
  }

  &__buttoncontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__button {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // width: 50px;
    padding: 5%;
    // margin: 5%;
    border-radius: 25px;
    border: 1px solid rgb(122, 122, 122);
    background-color: rgba(97, 37, 37, 0.858);
    color: white;
    font-weight: 600;
  }

  &__input {
    display: flex;
    flex-direction: row;

  }

  &__input-control {
    width: 85px;
  }
}

.form-check-input:hover {
  cursor: pointer;
}

#payButton {
  margin-top: 15px;
  margin-bottom: 15px;
}