.maincontainer {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
  height: 90vh;
}

.form {

  display: flex;
  flex-direction: column;
  align-items: center;

  &__order {
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    // background-color: rgb(174, 162, 152);
  }

  &__orderInfo {
    background-color: rgb(174, 162, 152, 0.2);
    border: 1px rgb(174, 162, 152) solid;
    text-decoration: underline;


  }

  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__paymentoptions-radiobuttons {
    display: flex;
    flex-direction: row;
  }

  &__icons {
    text-align: center;
  }

  &__paymentcard {
    display: flex;
    flex-direction: column;
    width: 175px;
  }

  &__buttoncontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__button {
    padding: 5%;
    border-radius: 25px;
    background-color: rgb(214, 211, 213);
    font-weight: 600;

    &:hover {
      background-color: rgba(189, 181, 174, 0.9);
      cursor: pointer;
      transition: transform 0.2s;
      transform: scale(1.1);
    }

    &__input {
      display: flex;
      flex-direction: row;

    }

    &__input-control {
      width: 85px;
    }
  }

  .form-check-input:hover {
    cursor: pointer;
  }

  #payButton {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}