@use "./../../scss/components" as c;

body {
  background-color: rgb(255, 255, 255);

  #productDetailRoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15%;

    h2 {
      text-align: center;
    }

    img {
      width: 70vw;

      @include c.small {
        width: 40vw;
      }
    }

    p,
    span,
    h3 {
      padding: 5%;
      margin: 0;
    }

    // .addToCart {
    //   background-color: rgb(109, 49, 49);
    //   // background-color: rgba(14, 47, 117, 0.926);
    //   // font-size: 15pt;
    //   width: 16%;
    //   color: white;
    //   padding: 5%;
    //   margin: 2%;
    //   border-radius: 2px;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: center;
    // }
  }
}
