@use "./../../scss/components" as c;

body {
  background-color: rgb(255, 255, 255);

  #productDetailRoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15%;

    h2 {
      text-align: center;
      font-family: "Courier New", Courier, monospace;
    }

    img {
      width: 60vw;

      @include c.small {
        width: 40vw;
      }
    }

    p,
    span {
      padding: 3%;
      margin: 0%;
      font-family: "Courier New", Courier, monospace;
    }

    h3 {
      padding: 0%;
      margin: 10px;
    }
    span.addToCart {
      background-color: white;
      // background-color: rgba(14, 47, 117, 0.926);
      font-size: 25pt;
      color: lightgray;
      padding: 0px;
      margin: 0px;
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      :hover {
        cursor: pointer;
        background-color: white;
        transition: transform 0.5s;
        transform: scale(1.4);
      }

      @include c.small {
        padding: 0%;
      }

      @include c.medium {
        padding: 4%;
      }
    }

    // .addToCart {
    //   background-color: rgb(109, 49, 49);
    //   // background-color: rgba(14, 47, 117, 0.926);
    //   // font-size: 15pt;
    //   width: 16%;
    //   color: white;
    //   padding: 5%;
    //   margin: 2%;
    //   border-radius: 2px;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: center;
    // }
  }
}
button {
  display: flex;
  background-color: lightgray;
  color: black;
  margin-top: 15px;

  border: 1px solid gray;
}
button:hover {
  cursor: pointer;
  background-color: lightgray;
  color: black;
  transition: transform 0.2s;
  transform: scale(1.2);
}
