@use "../../scss/components" as c;

#root {
  display: flex;
  flex-direction: column;

  .article--container {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    align-items: center;
    // border: 2px solid gray;
    border-bottom: 1px solid lightgrey;
    width: 90%;

    @include c.small {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  img.article--pic {
    width: 15vw;
    @include c.small {
      width: 10vw;
    }

    @include c.medium {
      width: 5vw;
    }
  }
}
