@use "../../scss/components" as c;

button {
  border: 2px solid gray;
  border-radius: 10px;
  padding: 3%;
  margin: 5%;
}

button#pay {
  padding: 5%;
  background-color: rgb(120, 47, 47);
  color: white;
  font-weight: 600;
}

#root {
  display: flex;
  flex-direction: column;

  .article--container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    align-items: center;
    // border: 2px solid gray;
    border-bottom: 1px solid lightgrey;

    @include c.small {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  img.article--pic {
    width: 15vw;
    @include c.small {
      width: 10vw;
    }

    @include c.medium {
      width: 5vw;
    }
  }

  .delete--article {
    background-color: unset;
    padding: 0;
  }
}
