@use "../../scss/components" as c;

button#emptyCart {
  border: 1px solid rgb(150, 150, 150);
  background-color: rgb(214, 211, 213);
  border-radius: 25px;
  padding: 3%;
  margin: 5%;
  color: black;
  font-weight: 600;

  &:hover {
    background-color: rgba(189, 181, 174, 0.9);
    cursor: pointer;
    transition: transform 0.2s;
    transform: scale(1.1);
  }

  @include c.small {
    padding: 2%;
    border-radius: 30px;
  }

  @include c.medium {
    padding: 1.5%;
    border-radius: 35px;
  }
}

button#goToPayForm {
  padding: 3%;
  margin: 5%;
  border-radius: 25px;
  border: 1px solid rgb(122, 122, 122);
  // background-color: rgba(97, 37, 37, 0.858);
  background-color: rgba(133, 150, 121, 0.858);
  color: black;
  font-weight: 600;

  &:hover {
    border: 1px solid rgb(122, 122, 122);
    // background-color: rgb(214, 211, 213);
    background-color: rgba(169, 182, 161, 0.858);
    color: black;
    // background-color: rgba(109, 56, 56, 0.858);
    cursor: pointer;
    transition: transform 0.2s;
    transform: scale(1.1);
  }

  @include c.small {
    padding: 2%;
    border-radius: 30px;
    margin: 3%;
  }

  @include c.medium {
    padding: 1.5%;
    border-radius: 35px;
  }
}

#rootShoppingCart {
  display: flex;
  flex-direction: column;

  .article__container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    align-items: center;
    // border: 2px solid gray;
    border-bottom: 1px solid lightgrey;

    @include c.small {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  img.article__pic {
    width: 40%;
    @include c.small {
      width: 15%;
    }

    @include c.medium {
      width: 7%;
    }
  }

  .amountContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5px;

    .amountContainer__subIcon,
    .amountContainer__addIcon {
      color: rgb(174, 162, 152);

      &:hover {
        cursor: pointer;
        color: rgba(189, 181, 174, 0.9);
      }
    }
  }
}

.fa-trash-can {
  color: rgb(174, 162, 152);
  padding: 15px;

  &:hover {
    cursor: pointer;
    color: rgba(189, 181, 174, 0.9);
  }
}

#root_sum {
  margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include c.small {
    margin: 3%;
  }

  span {
    margin-bottom: 4%;
  }
}
