
@use "../components/" as c;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;

  .aboutContainer {
    display: flex;
    flex-direction: column;
    height: 35vh;
    width: 100vw;

    @include c.small {
      height: 70vh;
    }

    @include c.medium {
      // height: 100vh;
    }

    @include c.large {
      height: 100vh;
     
    }

    &__second {
      display: flex;
      flex-direction: column;
      background-size: cover;
      background-image: url(../assets/img/picture.jpg);
      background-position: center;

      background-color: rgb(174, 162, 152);
      width: 100%;
      height: 35vh;

      @include c.small {
        height: 80vh;
      }

      @include c.medium {
        // height: 80vh;
      }

      @include c.large {
        height: 100vh;
       
      }
    }

    &__text {
      display: flex;
      margin-top: 10%;
      margin-left: 35%;
      font-size: 10px;
      width: 150px;

      @include c.small {
        font-size: 25px;
        width: 400px;
        margin-left: 40%;
      }

      @include c.medium {
        margin-top: 5%;
        font-size: 25px;
      }
    }
  }

  h2#categoryTitle {
    text-align: center;
  }

  #rootStart {
    margin: 0;
    padding: 2%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

    .productContainer {
      width: 45%;
      margin: 2%;
      padding: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.25s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }

      @include c.small {
        width: 32%;
        padding: 2%;
        margin: 0;
        margin-bottom: 1%;
      }

      @include c.medium {
        width: 23vw;
      }

      .clickContainer {

        img {
          @include c.productPic;

          @include c.small {
            width: 28vw;
          }

          @include c.medium {
            width: 21vw;
          }
        }

        p.product__title {
          width: 90%;
          margin: 5%;
          text-align: center;
          text-decoration: none;
        }

        p.product__price {
          font-weight: 600;
          margin: 5%;
          text-align: center;
          text-decoration: none;
        }
      }

      span {
        display: flex;
        color: rgb(174, 162, 152);
        // background-color: rgba(14, 47, 117, 0.926);
        font-size: 25px;
        padding: 11%;
        margin: 2%;
        // border-radius: 2px;

        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        transition: all 0.25s ease-in-out;

        &:hover {
          transform: scale(1.7);
        }

        :hover {
          color: rgb(174, 162, 152, 0.5);
        }

        @include c.small {
          padding: 8%;
        }

        @include c.medium {
          padding: 4%;
        }
      }
    }
  }
}
