// @use "mixins" as m;
@use "../components/" as c;

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;

  .aboutContainer {
    display: flex;
    flex-direction: column;
    height: 35vh;
    width: 100vw;

    @include c.small {
      height: 70vh;

    }

    @include c.medium {
      height: 120vh;

    }

    &__second {
      display: flex;
      background-size: cover;
      background-image: url(../assets/img/picture.jpg);
      background-position: center;
      background-color: rgb(174, 162, 152);
      width: 104%;
      height: 35vh;

      @include c.small {
        height: 80vh;

      }

      @include c.medium {
        height: 120vh;


      }
    }

    &__text {
      display: flex;
      margin-top: 4%;
      margin-left: 45%;
      font-size: 10px;
      width: 150px;

      @include c.small {
        font-size: 25px;
        width: 400px;
        margin-left: 40%;

      }

      @include c.medium {
        font-size: 35px;
      }

    }
  }

  #rootStart {
    margin: 0;
    padding: 2%;
    // background-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

    .productContainer {
      width: 45%;
      // height: 30%;
      // background-color: rgb(238, 238, 238);
      margin: 2%;
      padding: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.25s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }

      @include c.small {
        width: 32%;
        padding: 2%;
        margin: 0;
        margin-bottom: 1%;
      }

      @include c.medium {
        width: 23vw;
      }

      .clickContainer {
        // :hover {
        //   cursor: pointer;
        //   transition: transform 0.2s;
        //   transform: scale(1.2);
        // } 
        //ta bort detta? den skär bilden ovanför och namnet på produkten

        img {
          @include c.productPic;

          @include c.small {
            width: 28vw;
          }

          @include c.medium {
            width: 21vw;
          }
        }

        p.product__title {
          width: 90%;
          margin: 5%;
          text-align: center;
          text-decoration: none;
        }

        p.product__price {
          font-weight: 600;
          margin: 5%;
          text-align: center;
          text-decoration: none;
        }
      }

      span {
        display: flex;
        color: rgb(174, 162, 152);
        // background-color: rgba(14, 47, 117, 0.926);
        font-size: 25px;
        padding: 11%;
        margin: 2%;
        // border-radius: 2px;

        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        transition: all 0.25s ease-in-out;

        &:hover {
          transform: scale(1.7);
        }

        :hover {
          color: rgb(174, 162, 152, 0.5);
        }

        @include c.small {
          padding: 8%;
        }

        @include c.medium {
          padding: 4%;
        }

        span.addToCart {
          background-color: rgb(109, 49, 49);
          // background-color: rgba(14, 47, 117, 0.926);
          // font-size: 15pt;
          color: white;
          padding: 0;
          margin: 0;
          border-radius: 2px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          :hover {
            cursor: pointer;
            background-color: rgba(129, 69, 69, 0.71);
            transition: transform 0.2s;
            transform: scale(1.2);
          }
        }

      }
    }


  }
}